{% extends "base.html" %}

{% block title %}
Productos
{% endblock %}

{% block content %}

<h2>Lista de productos</h2>
<h2>Maria Guadalupe Nieves Nieto</h2>

<a href="{{ url_for('crear_producto') }}" class="btn-agregar">
    + Agregar producto
</a>

<br><br>

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Fecha de registro</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        {% for producto in productos %}

        <tr>

            <td>{{ producto.id_producto }}</td>

            <td>{{ producto.nombre }}</td>

            <td>{{ producto.descripcion }}</td>

            <td>${{ producto.precio }}</td>

            <td>{{ producto.stock }}</td>

            <td>{{ producto.categoria.nombre }}</td>

            <td>{{ producto.marca.nombre }}</td>

            <td>{{ producto.fecha_registro }}</td>

            <td>

                <form
                    action="{{ url_for('eliminar_producto', id=producto.id_producto) }}"
                    method="POST"
                    onsubmit="return confirm('¿Seguro que deseas eliminar este producto?');"
                >

                    <button
                        type="submit"
                        class="btn-eliminar"
                    >
                        Eliminar
                    </button>

                </form>

                <a
                    class="btn btn-editar"
                    href="{{ url_for('actualizar_producto', id=producto.id_producto) }}"
                >
                    Editar
                </a>
            </td>

        </tr>

        {% else %}

        <tr>
            <td colspan="9">
                No hay productos registrados.
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}